<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th class="col-xs-2">Title</th>
      <th class="col-xs-4">Content</th>
      <th class="col-xs-3">Image</th>
      <th class="col-xs-1">User</th>
      <th colspan="3" class="col-xs-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= picture.content %></td>
        <td><%= image_tag picture.image.url unless picture.image.blank? %></td>
        <td><%= picture.user.name %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
