<!DOCTYPE html>
<html>
  <head>
    <title>FbCloneWork</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8"
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class="container-fluid">
      <nav class="menu">
        <ul class="row">
        <% if logged_in? %>
          <li class="col-xs-3"><%= link_to "Profile", user_path(current_user.id), class: "head" %></li> -->
          <li class="col-xs-3"><%= link_to "Logout", session_path(current_user.id), method: :delete, class: "head" %></li>
        <% else %>
          <li class="col-xs-3"><%= link_to "Sign up", new_user_path, class: "head" %></li>
          <li class="col-xs-3"><%= link_to "Login", new_session_path, class: "head" %></li>
        <% end %>
        </ul>
      </nav>

    <%= yield %>
    </div>
  </body>
</html>
